.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #090E41;
  height: 100vh;
  overflow: hidden;
}

.intro-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
  margin-top: 130px;
}

.svg-logo {
  max-width: 90%;
  height: auto;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.bouncing-game-container {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.64); /* Adjust scale for fit within TV */
  width: 60%; /* Adjust as needed to fit TV screen area */
  height: 100%;
  min-width: 765px;
  min-height: 190px;
  z-index: 0; /* Ensures game is behind CRT image */
}

@media screen and (max-width: 730px) {
  .svg-logo {
    width: 80%;
  }
  .img-container{
    margin-top: 20vh;
    scale: .9;
  }

  .bouncing-game-container {
    position: relative;
    left: 40%;
    padding-top: 23px;
    scale: .8;
    width: 10%;
    height: 10%;
    max-width: 200px;
    max-height: 150px;
    margin-top: -450px;

  }
}

@media screen and (max-width: 430px) {
.img-container{
  scale: .76;
  margin-top: 53vw;
}
}
.fade-up {
  animation: fadeInUp 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards; /* Smoother easing function */
}

@keyframes fadeInUp {
  0% {
    opacity: 0.7;
    transform: translateY(850px) scale(0.3); /* Start from a lower position */
  }
  60% {
    opacity: 0.9;
    transform: translateY(50px); /* Move up faster */
  }
  80% {
    opacity: 1;
    transform: translateY(-10px); /* End just slightly above original position for smoothness */
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); /* Final position and scale */
  }
}