.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #090E41;
  height: 100vh;
  overflow: hidden;
}

.intro-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
}

.svg-logo {
  max-width: 90%;
  height: auto;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.bouncing-game-container {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.64); /* Adjust scale for fit within TV */
  width: 60%; /* Adjust as needed to fit TV screen area */
  height: 100%;
  min-width: 765px;
  min-height: 190px;
  z-index: 0; /* Ensures game is behind CRT image */
}

@media screen and (max-width: 730px) {
  .svg-logo {
    max-width: 80%;
  }

  .bouncing-game-container {
    width: 70%;
    height: 70%;
    max-width: 200px;
    max-height: 150px;
  }
}
.fade-up {
  animation: fadeInUp 2s ease-out forwards; /* Apply animation */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px); /* Start slightly below */
    
  }
75%{
  opacity:0.9;
  transform: translateY(100px);
}
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}
