@import url('https://fonts.cdnfonts.com/css/arcade-classic');
* {
    margin: 0;
    font-family: 'ArcadeClassic', sans-serif;
}

.nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: end;
    overflow: hidden;
    position: fixed;
    top: 9px;
    z-index: 12;
}

.menu-and-logo {
    margin-right: 4rem;
}

.menu-and-logo img {
    height: 60px;
}

.nav-drop {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    position: fixed;
    top: -100%;
    z-index: 12;
    transition: all 0.5s ease-in;
}

.toggle {
    top: 0;
}

.nav-close-btn {
    background-color: #bbfdd1;
}

.nav-cont {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.close-btn {
    width: 97%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
}

.close-btn img {
    height: 65px;
    margin-right: 2.5rem;
    margin-top: 2rem;
}

.link-items {
    width: 80%;
    height: 350px;
    gap: 3rem;
    margin-left: 5rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    letter-spacing: 10px;
    margin-top: 4rem;
    box-shadow: -6px 6px;
    transition: scale 0.5s ease;
    box-shadow: -6px 6px black;
}
.link-items > h1{
  color:black;
}

.link-items:hover {
    background-color: #578ff7;
    color: white;
    scale: 1.1;
    box-shadow: -6px 6px black;
}

@media screen and (min-width: 600px) {
  .link-items > h1{
    font-size: 3rem; 
  }
}

@media screen and (max-width: 600px) {
    .link-items > h1 {
        font-size: 2rem;
    }
    .close-btn {
        margin-right: 0;
    }
    .nav-drop {
        grid-template-columns: 1fr;
    }
    .nav-close-btn {
        display: none;
    }
    .link-items {
        margin-left: 10%;
    }
    .close-btn img {
        height: 60px;
    }
    .menu-and-logo{
      margin-right: 2rem;
    }
}
